*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#amenu{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    font-style: italic;
}
#sectiona{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://nimantranrestaurant.com/wp-content/uploads/2024/03/all-pags-banner.png);
    background-size: 100% 100%;
    height: 200px;
    margin: 10px;
    color: white;
    text-align: center;

}
#gsection2{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.photos img{
    width: 90%;
    margin: 5%;
    
    
}

footer{
    background-color: rgb(82, 78, 78);
    width: 100%;
}
.footera{
    margin: 10PX;
    text-align: center;

}

@media only screen and (min-width:768px){
     #gsection2{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .photos{
        display: flex;
        width: 48%;
    }
}

@media only screen and (min-width:1200px)
{
    #sectiona{
        height: 500px;
    }
    .photos{
        display: flex;
        width: 23%;
    }
    #amenu{
    display: flex;
    }
    #amenu{
        display: none;
    }

}