*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
a{
    background-color: burlywood;
     color: black;
         font-size: 15px;
         font-weight: bold;
          padding: 10px 10px;
         border-radius: 8px;
            border: none;
            cursor: pointer;
            text-decoration: none;
         
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;

}
#amenu{
    display: none;
}

#section1{
    width: 100%;
    
}
#section1 img{
    width: 100%;
    height: 170px;
}
#section2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
#section2 img{
    height: 200px;
    width: 100%;
    padding: 20px;
    

}
#section2 a{
     background-color: burlywood;
     color: black;
     font-size: 10px;
     font-weight: bold;

     padding: 5px 5px;
      border-radius: 8px;
     border: none;
     cursor: pointer;
     text-decoration: none;
         
}
#section3{
    text-align: center;
    width: 100%;
    justify-content: center;
    background-color: rgb(100, 95, 95);
}
#section3 img{
    
    width: 100%;
}

#section4{
    text-align: center;
    width: 100%;
    justify-content: center;
}
#section4 #parent{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    
}

#section5{
    width: 100%;
    text-align: center;
}
#section5 img{
    width: 80%;
    height: 200px;
    margin: 10px;
}

#section6{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#section6 img{
    width: 100%;
}
#section7{
    width: 100%;
}
#section7 img{
    width: 80%;
    height: 200px;
}
#sam img{
        width: 50%;
        height: 400px;


    
 }

footer{
    text-align: center;
    margin-top: 10px;
    background-color: burlywood;
}
.footera{
    margin: 15px;
}

@media only screen and (min-width:768px){
    #section1 img{
        height: 300px;
    }
    #section2{
        display: flex;
        width: 100%;
        
    }
    #section2 img{
        height: 280px;
        
    }


    
    #section5 {
        width: 100%;
        display: flex;
    }
    #section5 #dishesh-title{
        display: none;
    }

    #section7 img{
        height: 300px;
    }
    
    
    
}

@media only screen and (min-width:1200px){
    #section2{
        display: flex;
        justify-content: flex-start;
        justify-content: center;
       
    }
    #section2 div{
        width: 27%;
        margin-top: 20px;
    }
    #section2 img{
        height: 500px;
    }
    #section3{
        display: flex;
      
    }
    #section3 div{
        width: 47%;
    }
    #section3 #div{
      
       margin-top: 100px;
    }
    #sam{
        display: flex;
        width: 100%;
        justify-content: space-around;
        
    }
    #sam img{
        width: 100%;
        height: 400px;


    
    }
    #amenu{
        display: flex;
    }
    .amenu{
        display: none;
    }
   
    

}